* {
  box-sizing: border-box;
}

header{
  background-color: #7a7676;
  
}

h1 {
  display: inline;
  background-color: #2bb4e2;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: end;
  gap: 14px;
  margin-right: 50px;
  padding: 10px;
  
}
nav a {
  color: #2bb4e2;
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  padding: 100px;
  background-size: cover;
  
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 20px 50px 0px 0px;
  gap: 20px;
  
}

#about {
  display: flex;
  justify-content: end;
  padding: 10px;
  color:#2bb4e2;
  border-right:#2bb4e2 solid 2px;

}

#work {
  display: flex;
  justify-content: end;
  padding: 10px;
  color:#2bb4e2;
  border-right:#2bb4e2 solid 2px;
}

  #contact {
    display: flex;
  justify-content: end;
  padding: 10px;
  color:#2bb4e2;
  border-right:#2bb4e2 solid 2px;
  }



.work-grid {
  margin: 10px 0px 0px 0px;
  display: grid;
  gap: 13px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 100px 100px;
  grid-template-areas:
  "SR SR"
  "led cal"
  "pp run"
}

#surf-report {
  grid-area: SR;
  background-image: url("../images/02-portfolio-4.jpg");
  border: 1px solid #53c3d7;
  background-size: cover;
}

#led-wall {
  grid-area: led;
  background-image: url("../images/02-portfolio-1.jpg");
  border: 1px solid #53c3d7;
  background-size: cover;
}

#calculator {
  grid-area: cal;
  background-image: url("../images/02-portfolio-2.jpg");
  border: 1px solid #53c3d7;
  background-size: cover;
}

#pastel-puzzels {
  grid-area: pp;
  background-image: url("../images/02-portfolio-3.jpg");
  border: 1px solid #53c3d7;
  background-size: cover;

}

#run-buddy {
  grid-area: run;
  background-image: url("../images/02-run-buddy.jpg");
  border: 1px solid #53c3d7;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
